<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<link rel="stylesheet" type="text/css"
      href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css" />
<head>
    <meta charset="utf-8">
    <title>Ajout des Produits</title>
</head>
<body>
<div layout:fragment="Mycontent">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                Information
            </div>
            <div class="card-body">
                <h3 class="text-danger card-text">Vous n'êtes pas autorisé</h3>

            </div>
        </div>
    </div>
</div>
</body>
</html>
